<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.personallife" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Weather.InputCityCode"/>
        <activity android:name=".Weather.MoreSuggestsActivity"/>
        <activity android:name=".Weather.MoreSuggestActivityLv"/>
        <activity android:name=".Weather.CityChoose.SelectCity"/>

        <activity android:name=".Alarm.AlarmAdd"/>
        <receiver android:name=".Alarm.TimeReceiver"
            android:process=":remote"></receiver>

        <activity
            android:name=".Alarm.DialogActivity"
            android:label="提醒您"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            />

        <service android:name=".Alarm.NotifyService"/>

    </application>

</manifest>
